<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3t text-light">
    © 2023 Copyright <br>
    <a class="text-danger text-decoration-none" href="https://github.com/Olivier-Kango">Olivier Kango</a> &
    <a class="text-danger text-decoration-none" href="https://github.com/NurkaAmre">NurkaAmre</a> 
  </div>
  <!-- Copyright -->
</footer>