<div class="container rounded-top mb-4">
  <div class="container d-flex gap-5 align-items-center">
    <h1>Hey, <%= current_user.name %><span>&#x1F468;&#x200D;&#x1F373;</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-hand-o-right"></i></h1>

    <div class="ms-auto m-1">
      <%= link_to "Add New food", new_food_path, class: "btn btn-warning mt-10 mb-10 text-end m-3 me-auto order-last" %>
    </div>
  </div>

  <div class='shadow-lg p-3 bg-body-tertiary'>
    <div class="d-flex justify-content-between fooods_title">
      <h5>
        Food
      </h5>
      <h5>
        Quantity
      </h5>
      <h5>
        Measurement unit
      </h5>
      <h5>
        Unit price
      </h5>
      <h5>
        Actions
      </h5>
    </div>
  </div>

  <% @foods.each do |food| %>
    <div class='shadow-lg p-3 bg-body-tertiary'>
      <div class="d-flex align-items-center">
        <%= render food %>
        <h3><%= button_to "Delete", food, method: :delete,  class: 'btn btn-warning m-2 text-end delete', data: { turbo: false }  %></h3>
      </div>
    </div>
  <% end %>
</div>
