<p style="color: green"><%= notice %></p>

<%= render @food %>

<div class="container bg-warning rounded-top">
  <div class="d-flex">
    <div>
      <%= link_to "Back to foods", foods_path, class: "btn btn-secondary m-2 mb-10 text-decoration-none" %>
    </div>
    <div class="ms-auto m-1 order-last">
      <h3><%= button_to "Delete", food_path(@food.id), method: :delete,  class: 'btn btn-secondary', data: { turbo: false }  %></h3>
    </div>
  </div>
</div>
